.container {
    padding: 10px;
}

.title {
    text-align: center;
    font-weight: 500;
    font-size: 23px;
}

.addNewPost {
    display: flex;
    gap: 10px;
}

.addNewPost textarea {
    width: 500px;
    resize: none;
    border-radius: 4px;
    padding: 5px;
}

.addNewPost textarea::placeholder {
    font-family: Roboto, sans-serif;
}

.addNewPost button {
    text-transform: uppercase;
    padding: 10px;
    border-radius: 4px;
    background: linear-gradient(45deg, rgb(254, 56, 56), rgb(182, 82, 82));
    color: white;
    border: none;
    cursor: pointer;
}

.addNewPost button:hover {
    background: linear-gradient(45deg, rgb(254, 56, 56), rgb(163, 0, 0));
}

.posts {
    margin-top: 20px;
}