.avatar {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
.container {
    margin-top: 5px;
    display: flex;
    padding: 5px 15px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.userInfo {

}

.name {
    font-size: 20px;
    /*font-style: italic;*/
    text-align: center;
}

.commonInfo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.ava_btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {

}
