.header {
    grid-area: head;
    background: linear-gradient(180deg, #c2f9e2,#00c4fd);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.logo {
    height: 50px;
    width: auto;
}

.login {
    color: black;
    text-decoration: none;
}