.header {
    grid-area: head;
    background: linear-gradient(180deg, #c2f9e2,#00c4fd);
}

.logo {
    height: 50px;
    width: auto;
    margin-left: 30px;
    margin-top: 10px;
    /*fill: #ff0000; !* красный цвет *!*/
}