.nav {
    grid-area: navigation;
    background: linear-gradient(45deg, rgb(255, 255, 255), rgb(10, 112, 230));
    padding: 20px;
    min-height: 86vh;
}

.item {
    color: white;
    text-decoration: none;
}

.active {
    color: black;
}