.pagesContainer {
    display: flex;
    justify-content: center;
    margin: 15px;
    gap: 10px;
}

.pageSelector {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 100%;
    font-size: 16px;
}

.pageSelector:hover {
    background-color: #efefef;
}

.activePage {
    font-weight: 700;
}

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    border: 2px solid black;
}