.friendLink {
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
}

.icon {
   height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-right: 5px;
}

.dialogItem {
    margin-top: 10px;
    display: flex;
}