.app_wrapper {
    display: grid;
    width: 1200px;
    margin: 0 auto;

    grid-template-areas:
    "head head"
    "navigation content";

    grid-template-rows: 70px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
}


.app_wrapper_content {
    grid-area: content;
    background: rgb(248,244,255);
}

