.app_wrapper {
    display: grid;
    width: 1200px;
    margin: 0 auto;

    grid-template-areas:
    "head head"
    "navigation content";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
}

.header {
    grid-area: head;
    background: aquamarine;
}

header img {
    width: 70px;
    height: 70px;
}

.nav {
    grid-area: navigation;
    background: skyblue;
}

.content {
    grid-area: content;
    background: deepskyblue;
}

.content img {
    height: 500px;
    width: 1000px;
}