.dialogs {
    display: grid;
    grid-template-columns: 5fr 10fr;
    padding: 20px;
}

.dialog_items {
    text-decoration: none;
}

.active {
    color: darkcyan;
}

.dialog {

}

.messages {
    display: block;
    border-left: 1px black solid;
}

.message {
}

