.dialogs {
    display: grid;
    grid-template-columns: 5fr 10fr;
    padding: 20px;
}

.dialog_items {
    text-decoration: none;
}

.active {
    color: darkcyan;
}

.dialog {

}

.messages {
    display: block;
    border-left: 1px black solid;
}

.message {
}

.sender {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.message_area {
    resize: none;
    min-height: 30px;
    min-width: 500px;
    padding: 5px 0 0 10px;
    border-radius: 15px;
    overflow: hidden;
    outline: none;
    border: none;

}

.message_area::placeholder {
    padding: 5px;
    font-family: sans-serif;
}


.btn_send {
    margin-left: 10px;
    font-family: sans-serif;
    background-color: dodgerblue;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}